/*
 * Design
 * 
 * Include all your design elements in this file.
 */

/* iPhone landscape */
@include at-breakpoint($breakpoint_1) {
}
/* iPad portrait */
@include at-breakpoint($breakpoint_2) {
}
/* iPad landscape */
@include at-breakpoint($breakpoint_3) {
}


/* Logo */
header {
  @include span-columns(12);
  margin-bottom: 1em;

  .logo {
    @include span-columns(10, 12);
    img {
      float: left;
    }
  }
  .header {
    @include span-columns(12);
    position: relative;
  }

  /* iPad landscape */
  @include at-breakpoint($breakpoint_3) {
    .logo {
      @include span-columns(5, 12);
    }
    .header {
      @include span-columns(7 omega, 12);
      position: relative;
    }
  }
}


/* Base link settings */
a {
  color: $base-link-color;
  text-decoration: none;

  &:hover,
  &:focus
  &:active {
    color: $base-link-hover-color;
    text-decoration: underline;
  }
}

html {
  color: $base-text-color;

  ::selection,
  ::-moz-selection {
    color: $base-selected-text-color;
    background: $base-selected-text-background-color;
  }
}

/* Base settings */
h1, h2, h3, h4 {
  margin-top: 0;
}
