/**
 * Navigation
 */

/* Language switcher */
.language {
  @include span-columns(9,9);
  margin-bottom: 0.5em;

  ul {
    @extend %horizontal-menu;
  }

  li {
    @include span-columns(3,9);

    text-align: center;
    background-color: $light-grey;

    &.last {
      @include span-columns(3 omega,9);
    }
    a {
      display: block;
      padding: 5px 0 10px;
      color: #575756;
      opacity: 0.7;
      
      &.active,
      &:hover,
      &:focus {
        color: #000;
      }
    }
  }

  /* iPad landscape */
  @include at-breakpoint($breakpoint_3) {
    ul {
      float: right;
      background-color: $light-grey;
      padding: 3px 20px 6px;
      color: #575756;
      font-size: 0.706em;

      li {
        background: none;
        margin: 0;

        &::after {
          content: "|";
          margin: 0 5px 8px;
          opacity: 0.7;
          font-size: 12px;
        }

        &.last {
          &::after {
            content: "";
            margin-right: 0;

          }
        }

        a {
          padding: 5px 0px;
          font-size: 0.706em;
          display: inline;
        }
      }
    }
  }
}

/* Dropdown navigation */
div.main-dropdown {
  display: none;

  h2 {
    @include element-invisible;
  }

  /* iPad landscape */
  @include at-breakpoint($breakpoint_3) {
    display: block;
  }
}

/* Responsive navigation */
nav.main-responsive {
  @include span-columns(12);

  h2 {
    @include element-invisible;
  }
  .menu {
    li {
      display: block;
      width: 100%;
      background-color: $blue;
      border-bottom: 1px solid #f0f0f0;

      li {
        background-color: #6fb7e2;
        border-bottom: none;
      }

      &.first.expanded {
        // margin-top: 20px;
      }

      a {
        color: #fff;
        display: block;
        width: 100%;
        padding: 15px 15px;
      }
    }
  }

  #navigationtoggle {
    background-image:  url('../images/mobile-nav.png');
    background-image:  none,url('../images/mobile-nav.svg'), url('../images/mobile-nav.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $blue;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -50px;
    right: 0;
    cursor: pointer;
    border-bottom: 1px solid $blue;
  }

  /* iPad landscape */
  @include at-breakpoint($breakpoint_3) {
    /* Hide basic navigation & show dropdown */
    display: none;
  }
}

/* LAYOUT */
footer {
  .footer-nav {
    @include span-columns(12);

    @include at-breakpoint($breakpoint_1) {
      background-color: green;
    }
    /* iPad portrait */
    @include at-breakpoint($breakpoint_2) {
      background-color: orange;
    }
    /* iPad landscape */
    @include at-breakpoint($breakpoint_3) {
      background-color: blue;
    }

    ul {
      @include span-columns(12);

      li.expanded {
        /* First level */
        background-color: yellow;
        @include span-columns(12);

        &.last {
          display: none;
        }

        @include at-breakpoint($breakpoint_1) {
          @include span-columns(6,12);

          &:nth-child(2n+2) {
            @include span-columns(6 omega,12);
          }
        }

        @include at-breakpoint($breakpoint_2) {
          @include span-columns(4,12);

          &:nth-child(2n+2) {
            @include span-columns(4,12);
          }
          &:nth-child(3n+3) {
            @include span-columns(4 omega,12);
          }
        }

        @include at-breakpoint($breakpoint_3) {
          @include span-columns(2,12);

          &:nth-child(2n+2) {
            @include span-columns(2,12);
          }
          &:nth-child(3n+3) {
            @include span-columns(2,12);
          }
        }

        li.leaf {
          /* Second level */
          @include span-columns(12);
          background-color: grey;
          color: orange;
        }
      }
    }
  }





  .social-tools {
    /* iPad landscape */
    @include at-breakpoint($breakpoint_3) {
      @include span-columns(3 omega, 12);
    }

  }
}
/*

/* iPhone landscape
@include at-breakpoint($breakpoint_1) {
}
/* iPad portrait
@include at-breakpoint($breakpoint_2) {
}
/* iPad landscape
@include at-breakpoint($breakpoint_3) {
}
*/
