/**
 * Language
 *
 * Table of contents
 * --------------------
 * 1. Design
 * 2. Layout
 *
 */

/* LAYOUT */
.language {
  @include span-columns(9,9);

  .language-switcher-locale-url {
    li {
      @include span-columns(4);
      
      a {
        @include span-columns(12);
      }
      

      &.last {
        @include omega;
      }
    }

    /* iPad landscape */
    @include at-breakpoint($breakpoint_2) {
      float: right;
    }
  }
}

/* DESIGN */

/* Language switcher */
.language {
  margin-bottom: 0.5em;

  .language-switcher-locale-url {
    @extend %horizontal-menu;

    a {
      text-align: center;
      background-color: $light-grey;
      display: block;
      padding: 5px 0 10px;
      color: #575756;
      opacity: 0.7;

      &.active,
      &:hover,
      &:focus {
        color: #000;
        opacity: 1;
      }

      .lt-ie9 & {
        margin-right: 5px;
      }
    }
  }

  /* iPad landscape */
  @include at-breakpoint($breakpoint_2) {
    
    .language-switcher-locale-url {
      background-color: $light-grey;
      padding: 8px 10px;
      color: #575756;
      font-size: 0.706em;

      li {
        @include reset-columns();
        float: left;
        display: block;
        line-height: 16px;

        a {
          @include reset-columns();
          display: inline;
          padding: 0;
          font-size: 0.706em;
        }

        &::before {
          content: "|";
          margin: 0 5px;
          opacity: 0.7;
          font-size: 12px;
          float: left;
          display: block;
        }

        &.first {
          &::before {
            content: "";
            margin-left: 0;
          }
        }
      }
    }
  }
}