/*
 * Basic page styling.
 */

h1 {
  @include span-columns(12);
  color: $blue;
  margin-bottom: 30px;
}
.intro {
  @include span-columns(12);
  font-size: 2 * $base-font-size;
  font-weight: 200;
  color: $intro-color;
  text-align: center;
  background-image: url('../images/border.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  padding-bottom: 55px;
  margin-bottom: 50px;
}

.field-collection-view {
  @include span-columns(12);
  margin-bottom: 50px;
}
.text-block {
  @include span-columns(12);

  .group-left {
    @include span-columns(12);
  }
  .group-right {
    @include span-columns(12);
  }

}

.subtitle {
  @include span-columns(12);
  background-color: $light-grey;
  color: $blue;
  font-size: 2 * $base-font-size;
  font-weight: 200;
  padding: 0 15px;
}


.teaser {
  margin-bottom: 40px;

  .title {
    background-color: #f0f0f0;
    font-size: 35px;
    font-weight: 200;
    color: $blue;
    padding: 0 20px;
    line-height: 1.6em;
    margin-bottom: 15px;
  }
  .body {
    margin-bottom: 1em;

  }
  .read-more {

    a {
      display: inline-block;
      padding: 8px 14px;
      background-color: $blue;
      color: $white;
      text-transform: uppercase;
    }
  }
}