/*
 * Contacts styling
 */

.node-contact {
  .profile {
    @include span-columns(12);
    background-color: $light-grey;
    padding: 10px;
    margin-bottom: 40px;

    .profile-picture {
      @include span-columns(5,12);

      img {
        border: 4px solid $white;
      }
    }

    .profile-info {
      @include span-columns(7 omega,12);

      @include at-breakpoint($breakpoint_1) {
        background-image: url(../images/arrow-down.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        padding-top: 30px;
      }
    }

    .name {
      display: inline-block;
      padding: 5px 15px 7px;
      font-size: 18px;
      color: $white;
      background-color: $blue;
    }

    @include at-breakpoint($breakpoint_3) {
      @include span-columns(6,12);
    }
  }

  .details {
    @include span-columns(12);

    @include at-breakpoint($breakpoint_3) {
      @include span-columns(6 omega,12);
    }

    .field-collection-view {
      margin-bottom: 40px;
    }

    h4 {
      font-size: 22px;
    }
  }


  .contact-details {
    @include span-columns(12);
    margin-top: 10px;

    @include at-breakpoint($breakpoint_2) {
      @include span-columns(7 omega,12);
    }

    h3 {
      display: none;
    }

    .value {
      @extend %social-links;
    }
  }
}

.highlighted-internationals {
  @include span-columns(12);

  .contact {
    @include span-columns(12);
    margin-bottom: 10px;

    @include at-breakpoint($breakpoint_2) {
      @include span-columns(4,12);

      &.views-row-last {
        @include omega;
      }
    }

    .group-left {
      @include span-columns(6,12);
      background-color: $light-grey;
      padding: 10px;
      text-align: center;

      img {
        display: inline;
      }

      @include at-breakpoint($breakpoint_2) {
        @include span-columns(12,12);
      }

      @include at-breakpoint($breakpoint_3) {
        @include span-columns(6,12);
      }
    }

    .group-right {
      @include span-columns(6 omega,12);
      padding-top: 70px;

      @include at-breakpoint($breakpoint_1) {
        padding-top: 140px;
      }

      @include at-breakpoint($breakpoint_2) {
        padding-top: 10px;
        @include span-columns(12,12);
      }

      @include at-breakpoint($breakpoint_3) {
        @include span-columns(6 omega,12);
        background-image: url(../images/arrow-down.png);
        background-repeat: no-repeat;
        background-position: 0px 70px;
        padding-top: 100px;
      }

      .name {
        display: inline-block;
        background-color: $blue;
        padding: 5px 20px;
        color: $white;

        h2 {
          font-size: 18px; /* 18px */
          line-height: 22px; /* 22px */
          margin-bottom: 0;
        }

        @include at-breakpoint($breakpoint_3) {
          padding: 6px 9px;
        }
      }

      .country {
        @include span-columns(12);
        margin-top: 10px;
        color: $blue-grey;
      }
    }
  }
}

/* International contacts map */
.ic-map {
  .mobile {
    @include at-breakpoint($breakpoint_3) {
      display: none;
    }
  }

  .image-map {
    display: none;

    @include at-breakpoint($breakpoint_3) {
      display: block;
    }
  }

  /*
  position: relative;

  #area-test {
    position: absolute;
    display: block;
    background-color: rgba(200,200,200,0.4);
    width: 55px;
    height: 60px;
    top: 200px;
    left: 210px;
  }
  */
}