/*
 * Founder styling
 */

.node-founder {
  .profile-picture {
    img {
      float: left;
    }
  }

  .title {
    @extend %title-with-background;
    text-align: left;
  }

  .intro {
    background: transparent;
    font-size: 1.375em;
    line-height: 1.364em;
    font-weight: 300;
    text-align: left;
    padding-bottom: 10px;
  }

  .field-collection-view {
    margin-bottom: 0;
  }

  h4 {
    font-size: 1.375em;
    line-height: 1.364em;
    margin-top: 20px;
  }

  .contact-details {
    @include span-columns(12);
    margin-top: 40px;
    background-color: $light-grey;
    padding: 20px;

    .expertise {
      @include span-columns(12);
      margin-bottom: 20px;
    }

    .contact {
      @include span-columns(12);
    }

    h3 {
      @include span-columns(12);
      background-color: $blue;
      padding: 5px 20px;
      color: $white;
      text-transform: uppercase;

      @include at-breakpoint($breakpoint_3) {
        @include span-columns(4,12);
        padding: 5px 0;
        text-align: center;
      }
    }
    .content {
      @include span-columns(12);
      margin-top: 10px;

      .value {
        @include span-columns(10 omega,12);
        padding-left: 10px;
        margin-top: 3px;

        @include at-breakpoint($breakpoint_3) {
          @include span-columns(8 omega,12);
        }
      }
    }

    .icon {
      @include span-columns(2,12);
      height: 30px;
      background-image: url(../images/arrow-down.png);
      background-repeat: no-repeat;
      background-position: top right;

      @include at-breakpoint($breakpoint_3) {
        @include span-columns(4,12);
      }
    }

    .value {
      /* See sass/styles/styles.scss */
      @extend %social-links;
    }
  }
}
