/**
 * Colors
 *
 * All colors used in the project should be declared here.
 */

$base-text-color: #333;
$base-selected-text-color: invert($base-text-color);
$base-selected-text-background-color: $base-text-color;

$white: #ffffff;
$blue: #3298d6;

$base-link-color: #444;
$base-link-hover-color: $blue;

$intro-color: #2e2e2e;
$light-grey: #f0f0f0;
$blue-grey: #878e98;

$quote: #9c9c9c;