/*
 * Design
 * 
 * Include all your design elements in this file.
 */

/* Import base elements */
@import 'elements/language';
@import 'elements/main-navigation';
@import 'elements/footer';

/*
/* iPhone landscape
@include at-breakpoint($breakpoint_1) {
}
/* iPad portrait
@include at-breakpoint($breakpoint_2) {
}
/* iPad landscape
@include at-breakpoint($breakpoint_3) {
}
*/

img {
  display: block;
}

/* Logo */
header {
  padding-bottom: 1.176em; /* 20px on a 17px base font size */
  .logo {
    @include span-columns(10, 12);
    img {
      float: left;
    }
  }
  .header {
    @include span-columns(12);
    position: relative;
  }

  /* iPad landscape */
  @include at-breakpoint($breakpoint_3) {
    .logo {
      @include span-columns(5, 12);
      
    }
    .header {
      @include span-columns(7 omega, 12);
      position: relative;
    }
  }

  @include breakpoint(73em) {
    .logo {
      margin-left: -50px;

      img {
        max-width: 500px;
        width: 500px;
      }
    }
  }
}


/* Base link settings */
a {
  color: $base-link-color;
  text-decoration: none;

  &:hover,
  &:focus
  &:active {
    color: $base-link-hover-color;
    text-decoration: underline;
  }
}

html {
  color: $base-text-color;

  ::selection,
  ::-moz-selection {
    color: $base-selected-text-color;
    background: $base-selected-text-background-color;
  }
}

/* Base settings */
h1, h2, h3, h4 {
  margin-top: 0;
}

body {
  background-color: #252525;
}

header,
.center,
.drupal-messages,
.widescreen {
  background-color: #fff;
}

.widescreen {
  margin-top: 1em;
  margin-bottom: 3em;
}

.center {
  padding: 1em 0 3em;
  min-height: 200px;
}

footer {
  border-top: 1px solid #7c7c7c;
}

.drupal-messages {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;

  .messages {
    margin: 0;
    background-color: #ebf3f7;
    border: 1px solid #ccc;
    padding: 20px;

  }
  
}

.breadcrumb {
  @include span-columns(12);
  margin-top: 10px;
  text-align: left;
  display: none;
  font-size: 0.882em;


  .pipe {
    color: $medium-grey;
    margin: 0 7px;
  }

  a {
    color: $medium-grey;

    &:hover {
      color: $base-text-color;
    }
  }

  @include at-breakpoint($breakpoint_2) {
    display: block;
  }

  @include at-breakpoint($breakpoint_3) {
    text-align: right;
  }
}

nav.tabs {
  @include span-columns(12);
  margin-top: 10px;

  li {
    display: inline-block;
    
    a {
      padding: 6px 20px;
      background-color: $light-grey;
      @include border-radius(4px);

      &:hover,
      &.active {
        color: $white;
        background-color: $medium-grey;
      }
    }
  }
}

#back-to-top {
  @include span-columns(12);
  background-color: $white;

  a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(../images/back-to-top.png);
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    text-indent: -9999em;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}




