
.panel {
  width: 100%;
  float: left;
  margin-bottom: 2em;
}
.panel .top {
  width: 100%;
  float: left;
}
.panel .column {
  width: 50%;
  float: left;
}
.panel .bottom {
  width: 100%;
  float: left;
}