
.widescreen,
.top,
.bottom {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.column {
  width: 49%;
  float: left;
  margin-bottom: 10px;
}

.column.first {
  margin-right: 2%;
}

.bottom {
  margin-bottom: 20px;
}